/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/**
 * My
 */
.bg-danger {
    padding-left: 5px;
    padding-right: 5px;
}
.list-group-item-text {
    margin-top: 5px;
}

/**
 * Ajuste no navbar
 */
.navbar-text {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.font-small {
  font-size: 12px;
}

.altura-box {
  height: 250px;
}

select.form-control[disabled],
input.form-control[disabled],
.select2-container--disabled{
  background: #eee;
  cursor: not-allowed !important;
}
.form1 {
    margin-left: 410px;
    margin-top: 100px;}
}

#empty {
  margin-top:100px;
  position:absolute;
}
